.header {
    display: flex;
    align-items: center;
    padding: 20px;
  }
  
  .title {
    display: inline-block;
    vertical-align: top;
    font-size: 2em;
    font-weight: bold;
    margin: 0;
    padding: 0;
    margin-bottom: 1em;
  }
  
  


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  
  .box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
  
  .label {
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
  }
  
  .select {
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    background-color: #f7f7f7;
    color: #333;
  }
  .navbar {
    background-color: #333;
    overflow: hidden;
  }
  
  .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin-right: 20px;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    padding: 10px;
  }
  
  .nav-link:hover {
    background-color: #555;
  }
