.main {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}


body {

  height: 100vh;
  /* background-image: url("img/loginbackground.jpg"); */
  background-color: #df1610;
  background-repeat: no-repeat;
  background-size: cover;

}

form {
  background-color: rgba(248, 248, 240, 0.1);
  border-radius: 10px;
  padding: 20px;
  margin: 50px auto;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2 {
  text-align: center;
  margin-top: 0;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 0cqb;
  margin-bottom: 20px;
  box-sizing: border-box;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #4ce5f0;
  color: #0c010b;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #1654b1;
}


